


body {
    padding-top: 70px;
    background-color:#E5E5E5;
}

div {
    padding-top: 2px;
}

nav {
    background-color:#3E454D;
    color:#F7F7F7;
}

div {
   color:#0F0F0F;
}
/*
 background-color: #0B3C5D;

#328CC1

#D9B310

#0A1612

font color
f7f7f7

<div class="container marketing">